<div id="page-top">
    <img src="assets/img/homepage_bg.png" class="top-cover">
    
    <div id="research-block">
        <h1>Trouvez votre <span class="green">covoiturage</span> !</h1>
        <!-- Formulaire de recherche -->
        <form class="research-body" (ngSubmit)="research()">
            <div class="research-row">
                <div class="research-widget">
                    <div class="rw-header">
                        <img src="assets/img/marker_src.png">
                        <span>Ville de départ</span>
                    </div>
                    <select [ngModel]="searchParams.villeDepart" (ngModelChange)="searchParams.villeDepart = $event" name="villeDepart" required>
                        <option value="-1" disabled hidden>De</option>
                        <option *ngFor="let v of villes" value="{{ v.id }}">{{ v.ville }}</option>
                    </select>
                </div>

                <div class="research-widget">
                    <div class="rw-header">
                        <img src="assets/img/marker_dest.png">
                        <span>Ville d'arrivée</span>
                    </div>
                    <select [ngModel]="searchParams.villeArrivee" (ngModelChange)="searchParams.villeArrivee = $event" name="villeArrivee" required>
                        <option value="-1" disabled hidden>À</option>
                        <option *ngFor="let v of villes" value="{{ v.id }}">{{ v.ville }}</option>
                    </select>
                </div>

                <div class="research-widget">
                    <div class="rw-header">
                        <img src="assets/img/calendar.png">
                        <span>Date du trajet</span>
                    </div>
                    <input type="date" [ngModel]="searchParams.dateDepart" (ngModelChange)="searchParams.dateDepart = $event" name="dateDepart" required>
                </div>
            </div>
            
            <div class="research-row" [hidden]="moreParamHidden">
                <div class="research-widget">
                    <div class="rw-header">
                        <img src="assets/img/clock.png">
                        <span>Heure de départ</span>
                    </div>
                    <input type="time" value="06:00" [ngModel]="searchParams.heureDepart" (ngModelChange)="searchParams.heureDepart = $event" name="heureDepart">
                </div>

                <div class="research-widget">
                    <div class="rw-header">
                        <img src="assets/img/arrow_circle.png">
                        <span>Type de trajet</span>
                    </div>
                    <select [ngModel]="searchParams.typeTrajet" (ngModelChange)="searchParams.typeTrajet = $event" name="typeTrajet">
                        <option value="0">Tous</option>
                        <option *ngFor="let t of typeTrajets" value="{{ t.id }}">{{ t.typeTrajet }}</option>
                    </select>
                </div>

                <div class="research-widget">
                </div>
            </div>

            <span>
                <a (click)="displayMoreParam()">{{ moreParamStr }}</a>
            </span>

            <div class="button-row">
                <button class="ok" type="submit" [disabled]="disableResearchButton()">Rechercher</button>
            </div>
        </form>
    </div>
</div>

<!-- Afficher lorsque la requête à l'API n'est pas finie -->
<div class="container loading" *ngIf="researchStatus == 'WAITING'">
    <img src="assets/img/loading.gif">
    <span>Chargement en cours...</span>
</div>

<!-- Affiche le résultat de la requête -->
<div class="container research-results" *ngIf="researchStatus == 'AFTER'">
    <h1>Voici les <span class="green">covoiturages</span> disponibles :</h1>
    
    <!-- Génère des component 'trajet' pour afficher les trajets récupérés -->
    <!-- Le mode register car le component doit proposer l'option de s'enregistrer à ce trajet -->
    <div *ngIf="trajets.length; else noTrajets">
        <app-trajet *ngFor="let trajet of trajets" [trajet]="trajet" [mode]="'REGISTER'"></app-trajet>
    </div>
    <ng-template #noTrajets>
        <p class="no-results">Aucun trajet ne correspond à ces critères :(</p>
    </ng-template>
</div>