<nav class="navbar navbar-dark">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/img/banner.png" height="50px">
    </a>

    <div class="links">
        <div class="nav-block" routerLink="/covoiturages">
            <span>Mes covoiturages</span>
        </div>

        <div class="nav-block" routerLink="/trajets">
            <span>Mes trajets</span>
        </div>

        <div class="nav-block" routerLink="/profil">
            <span>Mon profil</span>
            <img class="profil-pic" src="assets/img/face.jpg">
        </div>
    </div>
</nav>