<div class="container main">
    <h1>Mes <span class="green">trajets</span></h1>

    <div class="card new">
        <div class="card-header">
            <h3>Nouveau <span class="green">trajet</span></h3>
        </div>
        <!-- Afficher lorsque les requêtes à l'API nécessaires au formulaire ne sont pas finies -->
        <div class="loading" *ngIf="getRequestCompleted != 3; else newTrajet">
            <img src="assets/img/loading.gif">
            <span>Chargement en cours...</span>
        </div>
        <ng-template #newTrajet>
        <div class="card-body">
            <form class="row" (ngSubmit)="createTrajet()" [formGroup]="newTrajetForm">
                <div class="col-3">
                    <div class="details">
                        <label>Ville de départ</label>
                        <select formControlName="villeDepart">
                            <option value="-1" disabled hidden>De</option>
                            <option *ngFor="let v of villes" value="{{ v.id }}">{{ v.ville }}</option>
                        </select>
                    </div>

                    <div class="details">
                        <label>Date de départ</label>
                        <input type="date" formControlName="dateDepart">
                    </div>

                    <div class="details">
                        <label>Durée</label>
                        <input type="time" formControlName="duree">
                    </div>

                    <div class="details">
                        <label>Véhicule</label>
                        <select formControlName="voiture">
                            <option *ngIf="voitures.length == 0" value="-1">Vous n'avez aucun véhicule</option>
                            <option *ngFor="let v of voitures" value="{{ v.id }}">({{ v.immatriculation }}) - {{ v.voiture.marque.marque}} {{ v.voiture.modele }}</option>
                        </select>
                    </div>

                    <div class="details">
                        <label>Type de trajet</label>
                        <select formControlName="typeTrajet">
                            <option *ngFor="let t of typeTrajets" value="{{ t.id }}">{{ t.typeTrajet }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="details">
                        <label>Ville d'arrivée</label>
                        <select formControlName="villeArrivee">
                            <option value="-1" disabled hidden>À</option>
                            <option *ngFor="let v of villes" value="{{ v.id }}">{{ v.ville }}</option>
                        </select>
                    </div>

                    <div class="details">
                        <label>Heure de départ</label>
                        <input type="time" formControlName="heureDepart">
                    </div>

                    <div class="details">
                        <label>Distance (en km)</label>
                        <input type="number" min="0.01" step="0.05" formControlName="nbKm">
                    </div>

                    <div class="details">
                        <label>Nombre de places</label>
                        <input type="number" min="1" formControlName="nbPlace">
                    </div>
                </div>
                <div class="col-6">
                    <div class="details">
                        <label>Description</label>
                        <textarea rows="10" formControlName="commentaire"></textarea>
                    </div>
                </div>

                <div class="button-row">
                    <!-- Bouton de validation -->
                    <button class="ok" type="submit" *ngIf="creationStatus == 'BEFORE' || creationStatus == 'SUCCESS'">Sauvegarder</button>
                    <button class="ok loading-button" *ngIf="creationStatus == 'WAITING'" disabled>
                        <img src="assets/img/loading.gif">
                        <span>Traitement...</span>
                    </button>
                </div>

                <!-- Affichage des erreurs du formulaire levées par angular -->
                <div class="alert alert-danger" role="alert" *ngIf="newTrajetAngErrors.length">
                    <h6 class="alert-heading">Une ou plusieurs erreurs sont présente :</h6>
                    <ul>
                        <li *ngFor="let err of newTrajetAngErrors">{{ err }}</li>
                    </ul>
                </div>

                <!-- Affichage des erreurs du formulaire levées par l'API -->
                <div class="alert alert-danger" role="alert" *ngIf="newTrajetApiErrors.length">
                    <h6 class="alert-heading">Une ou plusieurs erreurs ont été envoyées par le serveur :</h6>
                    <ul>
                        <li *ngFor="let err of newTrajetApiErrors">{{ err }}</li>
                    </ul>
                </div>

                <!-- Affichage du message de réussite -->
                <div class="alert alert-success" role="alert" *ngIf="creationStatus == 'SUCCESS'">
                    Un nouveau trajet a bien été créé !
                </div>
            </form>
        </div>
        </ng-template>
    </div>

    <h3>Mes trajets <span class="green">proposés</span></h3>
    <div class="my-trajets">
        <div class="loading" *ngIf="researchStatus == 'WAITING'">
            <!-- Afficher lorsque la requête à l'API n'est pas finie -->
            <img src="assets/img/loading.gif">
            <span>Chargement en cours...</span>
        </div>
        <div *ngIf="researchStatus == 'AFTER'">
            <!-- Génère des component 'trajet' pour afficher les covoiturages -->
            <!-- Le mode view est utilisé car aucune action n'est à réaliser sur le trajet -->
            <div *ngIf="trajets.length; else noTrajets">
                <app-trajet *ngFor="let trajet of trajets" [trajet]="trajet" [mode]="'VIEW'"></app-trajet>
            </div>
            <ng-template #noTrajets>
                <!-- Afficher si aucun résultat de trajet -->
                <p class="no-results">Vous n'avez créer aucun trajet pour le moment</p>
            </ng-template>
        </div>
    </div>
</div>