/* You can add global styles to this file, and also import other style files */
body {
    --app-black: #282828;      /* Navbar et texte */
    --app-dark-gray: #707070;  /* Bordures */
    --app-gray: #F5F5F5;       /* Header des cards */
    --app-light-gray: #FCFCFC; /* Body des cards */
    --app-green: #42C439;      /* Vert primaire */
    --app-dark-green: #2f8a28;
    --app-red: #A73137;        /* Rouge primaire */
    --app-dark-red: #702125;
}

.green {
    color: var(--app-green);
}

.red {
    color: var(--app-red);
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-row button {
    margin-right: 30px;
}

.button-row button:last-of-type {
    margin-right: 0;
}

button {
    padding: 5px 10px;
    font-size: 22px;
    width: 150px;
    border-radius: 10px;
    color: white;
    border-style: none;
}

button.ok {
    background-color: var(--app-green);
}

button.ok:hover {
    background-color: var(--app-dark-green);
}

button.ko {
    background-color: var(--app-red);
}

button.ko:hover {
    background-color: var(--app-dark-red);
}

input {
    border: 1px solid #A9A9A9;
}