<div class="card">
    <div class="card-header">
        <div class="info">
            <div class="from-to">
                <div>
                    <img src="assets/img/marker_src.png">
                    <span>De <span class="green">{{ trajet.villeDepart }}</span></span>
                </div>
                <div>
                    <img src="assets/img/marker_dest.png">
                    <span>À <span class="red">{{ trajet.villeArrivee }}</span></span>
                </div>
            </div>

            <div class="datetime">
                <span>Le <span class="green">{{ trajet.dateDepart.date | date:'dd MMMM yyyy'}}</span></span>
                <span>à <span class="red">{{ trajet.heureDepart.date | date:'HH'}}h{{ trajet.heureDepart.date | date:'mm'}}</span></span>
            </div>

            <div class="places">
                <span><span [class]="placeLeftClass">{{ trajet.nbPlace - trajet.placeOccupee }}</span>/{{ trajet.nbPlace }} places</span>
                <span>restantes</span>
            </div>
        </div>
        <div class="expand">
            <div data-toggle="collapse" attr.data-target="#trajet-{{ trajet.id }}">
                <span>Plus de détails</span>
                <img src="assets/img/arrow.png">
            </div>
        </div>
    </div>
    <div id="trajet-{{ trajet.id }}" class="collapse" aria-labelledby="heading-example">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>