<div class="card">
    <div class="card-header">
        <div class="info">
            <div class="from-to">
                <div>
                    <img src="assets/img/marker_src.png">
                    <span>De <span class="green">{{ trajet.villeDepart }}</span></span>
                </div>
                <div>
                    <img src="assets/img/marker_dest.png">
                    <span>À <span class="red">{{ trajet.villeArrivee }}</span></span>
                </div>
            </div>

            <div class="datetime">
                <span>Le <span class="green">{{ trajet.dateDepart.date | date:'dd MMMM yyyy'}}</span></span>
                <span>à <span class="red">{{ trajet.heureDepart.date | date:'HH'}}h{{ trajet.heureDepart.date | date:'mm'}}</span></span>
            </div>

            <div class="places">
                <span><span [class]="placeLeftClass">{{ trajet.nbPlace - trajet.placeOccupee }}</span>/{{ trajet.nbPlace }} places</span>
                <span>restantes</span>
            </div>
        </div>
        <div class="expand">
            <div data-toggle="collapse" attr.data-target="#trajet-{{ trajet.id }}">
                <span>Plus de détails</span>
                <img src="assets/img/arrow.png">
            </div>
        </div>
    </div>
    <div id="trajet-{{ trajet.id }}" class="collapse" aria-labelledby="heading-example">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="details">
                        <h5>Distance</h5>
                        <span>{{ trajet.nbKm }}km</span>
                    </div>
                    <div class="details">
                        <h5>Durée</h5>
                        <span>{{ trajet.duree | duree }}</span>
                    </div>
                    <div class="details">
                        <h5>Type de trajet</h5>
                        <span>{{ trajet.typeTrajet }}</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="details">
                        <h5>Co2 économisé</h5>
                        <span>{{ trajet.nbKm | co2 }} kg</span>
                    </div>
                    <div class="details">
                        <h5>Véhicule</h5>
                        <span>{{ trajet.voiture }}</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="details">
                        <h5>Conducteur</h5>
                        <span>{{ trajet.utilisateur }}</span>
                    </div>
                    <div class="details">
                        <h5>Message du conducteur</h5>
                        <span>{{ trajet.commentaire | if_empty:'Aucun commentaire' }}</span>
                    </div>
                </div>
            </div>
            <div class="button-row" *ngIf="mode != 'VIEW'">
                <div *ngIf="mode == 'REGISTER'">
                    <button class="ok" [disabled]="!hasPlacesLeft" [hidden]="registrationStatus == 'LOADING' || registrationStatus == 'SUCCESS'" (click)="register()">S'inscrire à ce trajet</button>
                    <button class="ok loading-button" [hidden]="registrationStatus != 'LOADING'" disabled>
                        <img src="assets/img/loading.gif">
                        <span>Traitement...</span>
                    </button>
                </div>
            </div>

            <div class="alert alert-success" role="alert" *ngIf="registrationStatus == 'SUCCESS'">
                Votre inscription pour ce trajet a bien été prise en compte, vous avez permis d'économisé {{ registrationResponse.co2.valCo2 }} kg de Co2 !
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registrationStatus == 'ERROR'">
                <h6 class="alert-heading">Une ou plusieurs erreurs sont survenues</h6>
                <ul *ngIf="isArray(registrationResponse)">
                    <li *ngFor="let err of registrationResponse">{{ err }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>